body{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#eef2ff;
}

#root{
  width:100%;
}

h1{
  text-align:center;
  margin:25px 0;
  color:#1e293b;
}

h2{
  color:#1e293b;
}

form{
  background:white;
  width:320px;
  margin:20px auto;
  padding:25px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
  display:flex;
  flex-direction:column;
  gap:12px;
}

input{
  padding:12px;
  border-radius:6px;
  border:1px solid #ccc;
  outline:none;
}

input:focus{
  border:1px solid #2563eb;
}

button{
  padding:12px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
  font-size:15px;
}

button:hover{
  background:#1d4ed8;
  transform:scale(1.02);
}

.employee-card{
  background:white;
  margin:15px auto;
  width:320px;
  padding:15px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
  text-align:left;
}

.ai-box{
  background:white;
  width:80%;
  margin:20px auto;
  padding:20px;
  border-radius:12px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.navbar{
  background:#2563eb;
  color:white;
  padding:18px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
}